/* Base Css */
html {
  font-family: sans-serif;
  background: rgb(252, 252, 252) !important;
}

/* CSS Utilities */
.icon--black {
  fill: black;
}

.color-light-blue {
  color: rgb(0, 160, 255);
}

.is-hidden-small {
  display: none;
}

.is-block-small {
  display: block;
}

/* Header CSS */
.header-height {
  height: 90px;
}

.logo-header {
  width: 130px;
  height: 50px;
}

.nav-items {
  color: rgb(48, 48, 48);
  font-size: 16px;
  font-weight: 300;
}

/* Sidebar CSS */
.side-bar {
  background: rgb(48, 48, 48);
  color: rgb(252, 252, 252);
  font-weight: 500;
  font-size: 14px;
  height: calc(100vh - 90px);
  margin-right: 20px;
  z-index: 500;
}

/* Card/Table CSS */
.card--modifier {
  border-radius: 3px;
  box-shadow: 2px 2px 30px 2px rgba(0, 0, 0, 0.08);
  width: 300px;
  position: relative;
}

.headshot--modifier > img {
  width: 110px;
  height: 110px;
}

.card-body--content {
  color: rgb(35, 36, 37);
  font-size: 16px;
}

.card-body--sub-content {
  color: rgb(146, 146, 146);
  font-size: 12px;
}

.view-col--modifier {
  color: rgb(0, 160, 255) !important;
  font-size: 12px;
  cursor: pointer;
}

.view-col--modifier > span > span > svg {
  fill: rgb(0, 160, 255);
}

.card-body--menu-icon {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}

/* For Medium Size Media Device */
@media only screen and (min-width: 769px) {
  /* Genral Utilities */
  .is-none-medium {
    display: none;
  }

  .is-block-medium {
    display: block;
  }

  .is-flex-medium {
    display: flex;
  }

  /* Header Specific */
  .nav--border-right {
    border-right: 1px solid rgba(151, 151, 151, 0.15);
  }

  /* Sidebar Specific */
  .side-bar {
    background: linear-gradient(
      -45deg,
      rgb(239, 243, 248) 0%,
      rgb(231, 246, 255) 100%
    ) !important;
    color: rgb(48, 48, 48);
  }

  /* Card/Table Specific */
  .table-view {
    background: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: 2px 2px 30px 2px rgba(0, 0, 0, 0.08);
  }

  .table-view .card--modifier {
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin: 0;
    box-shadow: none;
    border-bottom: 1px solid rgba(151, 151, 151, 0.15);
  }

  .table-view .header-row--modifier {
    display: flex;
    border-bottom: none;
    color: rgb(146, 146, 146);
  }

  .table-view .headshot--modifier > img {
    width: 30px;
    height: 30px;
  }

  .table-view .width-10 {
    width: 10%;
  }
  .table-view .width-15 {
    width: 15%;
  }
  .table-view .width-20 {
    width: 20%;
  }

  .table-view .is-none-table {
    display: none;
  }

  .table-view .is-block-table {
    display: block;
  }

  .table-view .table-cell {
    margin: 0;
    color: rgb(48, 48, 48);
    font-size: 14px;
  }

  .table-view .card-body--menu-icon {
    position: static;
  }
}
